<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <style>
        </style>
    </head>
    <body>
        <div class="wrapper" style="position : 'absolute'">
            <div style="max-width:100px">
                <img src="../../assets/img/logo.png" alt="" style="max-width:100px">
            </div>
            <div style="text-align:center; margin-top: -100px;">
                <h3>PT Mywayout By IwayRiway</h3>
                <p>Perum Pondok Tanah Mas RT 002 RW 013 Kel. Wanasari Kec.Cibitung Bekasi</p>
            </div>
        </div>
    </body>
</html>